.background {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(118.59deg, rgb(var(--white) / 0) 0%, rgb(var(--bubble-secondary)) 100%);

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      118.99deg,
      rgb(var(--white) / 0) 0%,
      rgb(var(--bubble-shadow))
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    content: "";
  }
}
