body {
  --white: 255 255 255;
  --black: 0 0 0;
  --bubble-primary: 166, 199, 168;
  --bubble-secondary: 213, 212, 208;
  --bubble-shadow: 186, 226, 226;
  --bubble-accent: 5, 0, 4;
  --bubble-grey: 111, 111, 111;
  --bubble-light-grey: 237, 237, 237;
}
