.playButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  padding: 20px;
  border-radius: 0.5em;
  background: none;
  transition: transform 0.2s;

  & > *:not(:last-child) {
    margin-right: 30px;
  }

  &_bubble {
    &::before {
      content: "";
      background: rgb(var(--white));
    }
  }

  &_night {
    &::before {
      content: "";
      background: rgb(var(--white) / 0.1);
    }

    .playButton__icon {
      fill: rgb(var(--white));
    }
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    content: "";
    border-radius: 0.5em;
    z-index: 1;
    transition: width 0.4s;
  }

  &:hover {
    &::before {
      width: 100%;
      content: "";
    }

    .playButton__box {
      border-radius: 0.5em 0 0.5em 0;
    }
  }

  &:active {
    transform: scale(0.8);
  }

  &__box {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    z-index: 100;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    max-width: 75px;
    color: rgb(var(--black));
    transition: color 1s;

    &_night {
      color: rgb(var(--white));
    }

    &_bubble {
      color: rgb(var(--black));
    }
  }

  &__icon {
    width: 20px;
    transition: fill 0.5s;
    fill: rgb(var(--bubble-accent));
  }
}
