.form {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 80%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 50px rgb(var(--bubble-primary));
    content: attr(data-alt);
  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    padding: 40px 30px;
    gap: 30px;
    z-index: 100;
    transition: background 1s;

    &_night {
      background: rgb(var(--white) / 0.1);
      backdrop-filter: blur(10px);
    }

    &_bubble {
      background: rgb(var(--white));
    }
  }

  @supports not (gap: 30px) {
    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    transition: color 1s;

    &_night {
      text-transform: uppercase;
      color: rgb(var(--white));
    }

    &_bubble {
      text-transform: capitalize;
      color: rgb(var(--bubble-accent));
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 250px;

    @media screen and (max-width: 768px) {
      min-width: 100%;
    }

    @supports not (gap: 20px) {
      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__agreement {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    max-width: 250px;
    transition: color 1s;

    &_night {
      color: rgb(var(--white));
    }

    &_bubble {
      color: rgb(var(--bubble-grey));
    }
  }
}
