.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 40px;
  width: 100%;
  background-color: rgb(var(--bubble-accent));
  color: rgb(var(--white));
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 16px rgb(var(--bubble-accent));
  }
}
