.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 40px;
  width: 100%;
  transition: background-color 0.2s, box-shadow 0.2s;
  overflow: hidden;

  &_bubble {
    background-color: rgb(var(--bubble-accent));
  }

  &_night {
    background-color: rgb(var(--black) / 0.1);
    backdrop-filter: blur(10px);
  }

  &__name {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    z-index: 100;

    &_bubble {
      color: rgb(var(--white));
    }

    &_night {
      color: rgb(var(--white));
    }
  }

  &:hover {
    &::after {
      content: "";
      opacity: 1;
      width: 100%;
    }
  }

  &::after {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(var(--bubble-primary));
    transition: opacity 0.4s, width 0.4s, height 0.4s;
    z-index: 1;
    content: "";
  }
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
